@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p, a, li {
    font-size: max(0.8vw, 15px);
}

h1 {
    color: rgb(103, 208, 243);
    margin: 0;
    font-size: max(5vw, 30px);
}

h2 {
    font-size: max(2.5vw, 20px);
}

#intro-web {
    margin-bottom: 0;
}

#intro-frontend {
    margin-top: 0;
}

header span, h3 {
    font-size: max(2vw, 17px);
}

h4 {
    font-size: max(1.7vw, 15px);
}

.punch-line {
    font-family: 'Cormorant Garamond', serif;
    font-size: max(1.5vw, 14px);
    margin: 4vh 0;
}

nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    gap: 0.8vw;
    justify-content: flex-end;
    align-items: center;
    background-color: dimgray;
}

nav a {
    color: whitesmoke;
    margin: 0.2vw;
    border-radius: 50vw;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 300ms;
}

nav a:hover {
    text-decoration-color: rgba(250, 250, 250, 1);
    /*background-color: whitesmoke;
    color: dimgray;*/
}

nav #nav-name {
    color: rgb(103, 208, 243);
    padding: 0;
    flex-grow: 40;
}

nav h4 {
    margin: 0 0 0 2vw;
}

.nav-element {
    display: flex;
    align-items: baseline;
    gap: 0.5vw;
    font-size: max(0.8vw, 20px);
}

header {
    display: grid;
    background-image: url("../media/image/backgrounds/navy-blue-fluid-painting-d0x1q0mcxqzzzanx.webp");
    background-attachment: fixed;
    min-height: 100%;
}

header, header a {
    color: whitesmoke;
    text-decoration: none;
}

#header-left {
    grid-column: 1 /6;
    grid-row: 1;
    text-align: right;
    margin-right: 8%;
    margin-top: 20%;
}

#header-right {
    display: inline-block;
    grid-column: 6/ 12;
    grid-row: 1;
    background-color: rgba(220, 220, 220, 0.3);
    padding-left: 8%;
    padding-top: 45%;
    border-left: rgba(220, 220, 220, 0.75) 3px solid;
}

section {
    padding: 1vw 0;
    background-color: lightblue;
}

.no-sticky-border {
    padding: 0 10vw;
}

.warning {
    color: orangered;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0 5vw;
}

.skill-container li {
    list-style-type: none;
}

.period-experience {
    justify-self: end;
}

.icon-skills {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: max(300px, 17vw);
    align-items: center;
    gap: 0 0;
}

.icon-skills img {
    width: max(1.5vw, 12px);
}

.icon-skills p {
    margin: 1vh;
}

#programming-skills {
    background-image: url("../media/image/backgrounds/shahadat-rahman-BfrQnKBulYQ-unsplash.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#others-skills, #programming-skills {
    padding: 2vh 0;
    margin: 2vh 0;
}

#programming-skills .icon-skills, .skill-container .icon-skills {
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
    padding: max(1vw, 20px);
    border-radius: max(2vw, 30px);
}

#projects ul li {
    list-style-type: none;
}

/* GRID ELEMENTS */

#experiences {
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.experiences-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr 4fr 3fr;
    grid-template-rows: repeat(5, 10vh);
}


.logo-places {
    display: flex;
    background: whitesmoke;
    border-radius: 4vh;
    padding: 1vh;
    width: max(2.5vw, 16px);
    height: max(2.5vw, 16px);
    justify-self: center;
}

.logo-places img {
    width: max(2.5vw, 16px);
    align-self: center;
    justify-self: center;
}

.border-experience {
    width: 100%;
    border-bottom: 1px solid black;
}

#timeline-experience {
    height:40vh;
    width: 6px;
    margin: 0 auto;
    background: linear-gradient(rgba(213, 255, 219, 0) 0%, rgb(213, 255, 219) 30%, rgb(249, 255, 214) 47%, rgb(249, 255, 214) 80%, rgb(210, 239, 250) 95%);
    grid-area: 1/2;
}


#title-activity {
    grid-area: 1 / 3;
}

#title-type {
    grid-area: 1 / 4;
}

#floreale-holding-name {
    grid-area: 2 / 3;
}

#floreale-holding-logo {
    grid-area: 2 / 2;
}

#floreale-holding-period {
    grid-area: 2 / 1;
}

#floreale-holding-type {
    grid-area: 2 / 4;
}

#caen-bachelor-name {
    grid-area: 3 / 3;
}

#caen-bachelor-logo {
    grid-area: 3 / 2;
}

#caen-bachelor-period {
    grid-area: 3 / 1;
}

#caen-bachelor-type {
    grid-area: 3 / 4;
}

#lomme-bts-name {
    grid-area: 4 / 3;
}

#lomme-bts-logo {
    grid-area: 4 / 2;
}

#lomme-bts-period {
    grid-area: 4 / 1;
}

#lomme-bts-type {
    grid-area: 4 / 4;
}

#maison-des-travaux-name {
    grid-area: 5 / 3;
}

#maison-des-travaux-logo {
    grid-area: 5 / 2;
}

#maison-des-travaux-period {
    grid-area: 5 / 1;
}

#maison-des-travaux-type {
    grid-area: 5 / 4;
}

.color-education {
    background-color: rgb(249, 255, 214);
}

.color-training {
    background-color: rgb(210, 239, 250);
}

.color-work {
    background-color: rgb(213, 255, 219);
}

.flex-project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vh 5vw;
}

.flex-project a {
    text-decoration: none;
    color: black;
}

.box-project {
    display: grid;
    padding: 1.2vw;
    background-color: whitesmoke;
    border-radius: 1vw;
    width: max(20vw, 300px);
    transition: 300ms ease-in;
}

.image-illustration {
    width: max(15vw, 270px);
    height: auto;
    grid-area: 1 / 1 / 1 / 3;
    justify-self: center;
    border-radius: 0.5vw;
}

.box-project p {
    grid-area: 2 / 1;
    font-weight: 600;
    font-size: max(13px, 1vw);
    margin: 1vh 0 0 0;
}

.prog-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 0.5vw;
    grid-area: 2 / 2;
}

.prog-container img {
    width: auto;
    height: max(17px, 1.5vw);
}

.lang-element {
    display: flex;
    gap: 10px;
}

.bt-country, .icon-nav {
    height: max(1vw, 14px);
    width: auto;
}

.social-container {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.icon-social {
    height: max(2vw, 40px);
    width: auto;
}

.no-dot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.hide-project {
    display: none;
}

.bt-primary {
    display: inline-block;
    background-color: cornflowerblue;
    padding: 0.5vw 1.2vw;
    border-radius: 100px;
    font-size: max(1.1vw, 12px);
    font-weight: 600;
}

.box-light-shadow, .box-hover-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.box-hover-shadow:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1320px) {
    .skill-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 700px)  {
    #maison-des-travaux-type, #lomme-bts-type, #caen-bachelor-type ,#floreale-holding-type, #title-type {
        display: none;
    }

    .experiences-container {
        grid-template-columns: 2fr 1fr 4fr;
    }
}