@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

p, a {
    font-size: max(0.8vw, 15px);
}

h1 {
    color: rgb(103, 208, 243);
    margin: 0;
    font-size: max(5vw, 30px);
}

h2 {
    font-size: max(2.5vw, 20px);
}

header span, h3 {
    font-size: max(2vw, 17px);
}

span.punch-line {
    font-family: 'Cormorant Garamond', serif;
}

nav {
    display: none;
    gap: 0.5vw;
    justify-content: flex-end;
}

.nav-element {
    display: flex;
    align-items: baseline;
    gap: 0.5vw;
    font-size: max(0.8vw, 20px);
}

header {
    display: grid;
    background-image: url("../media/image/backgrounds/navy-blue-fluid-painting-d0x1q0mcxqzzzanx.jpg");
    min-height: 100%;
}

header, header a {
    color: whitesmoke;
    text-decoration: none;
}

#header-left {
    grid-column: 1 /6;
    grid-row: 1;
    text-align: right;
    margin-right: 8%;
    margin-top: 20%;
}

#header-right {
    display: inline-block;
    grid-column: 6/ 12;
    grid-row: 1;
    background-color: rgba(220, 220, 220, 0.3);
    padding-left: 8%;
    padding-top: 45%;
    border-left: rgba(220, 220, 220, 0.75) 3px solid;
}

section {
    padding: 1vw 10vw;
    background-color: lightblue;
}

.experiences-container {
    display: grid;
    justify-content: space-evenly;
}

#projects ul li {
    list-style-type: none;
}

#title-work {
    grid-area: 1 / 1;
}

#title-education {
    grid-area: 1 / 2;
}

#title-traning-period {
    grid-area: 1 / 3;
}

#floreale-holding-work {
    grid-area: 2 / 1;
}

#caen-bachelor-info {
    grid-area: 4 / 2;
}

#lomme-bts-info {
    grid-area: 5 / 2;
}

#floreale-holding-traning {
    grid-area: 3 / 3;
}

#maison-des-travaux-traning {
    grid-area: 6 / 3;
}

.lang-element {
    display: flex;
    gap: 10px;
}

.bt-country, .icon-nav {
    height: max(1vw, 14px);
    width: auto;
}

.icon-social {
    height: max(3vw, 30px);
    width: auto;
}

.no-dot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bt-primary {
    display: inline-block;
    background-color: cornflowerblue;
    padding: 0.5vw 1.2vw;
    border-radius: 100px;
    font-size: max(1.1vw, 12px);
    font-weight: 600;
}

.social-container {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}
